.project-container {
    /* display: grid; */
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding-top: 50px;
    padding-left: 80px;
  }
  
  .project-box {
    text-align: center;
    /* padding-left: 20px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px; /* Adjust as needed */
  }
  .project-box h2 {
    padding-top: 10px;
  }
  .project-box button {
    border-radius: 3px;
    padding: 8px;
    color: black;
    border: none;
    background-color: #007bff;
  }
  